[Unit]
Description=Populatrs RSS Feed Publisher
Documentation=https://github.com/atareao/populatrs
After=network-online.target

[Container]
Image=localhost/atareao/populatrs:latest
ContainerName=populatrs
PodmanArgs=--init
UserNS=keep-id

Volume=/data/rust/populatrs/data:/app/data

PublishPort=3044:3044

EnvironmentFile=/data/rust/populatrs/populatrs.env

HealthCmd=wget --no-verbose --tries=1 --spider http://localhost:3044/health || exit 1
HealthInterval=30s
HealthRetries=3
HealthStartPeriod=10s

[Install]
WantedBy=default.target
