[Unit]
Description=Populatrs RSS Feed Publisher

[Container]
Image=docker.io/atareao/populatrs:latest
EnvironmentFile=%h/populatrs/populatrs.env
Volume=%h/populatrs/data:/app/data:Z
PublishPort=8080:8080
HealthCmd=wget --no-verbose --tries=1 --spider http://localhost:8080/health || exit 1
HealthInterval=30s
HealthRetries=3
HealthStartPeriod=10s

[Install]
WantedBy=default.target